.Btns{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.log-in_btn{
	width: 10rem;
	height: 40px;
	background-color: #343434;
	border: 0px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
}
.log-in_btn:hover{
	background-color: #4b4b4b; 

}

